.main__description {
  background: url("/texture_sand_desc.webp") center/cover no-repeat;
  width: 100%;
  margin-top: 2em;
  padding: 1.5em;

}

.description {

  &__wrapper {

    & h1 {
      color: #333;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 3.2em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 1072px) {
        font-size: 2em;
      }

      @media (max-width: 578px) {
        font-size: 1.5em;
      }
    }

    & h3 {
      margin-top: .5em;

      @media (max-width: 768px){
        font-size: 3em;
      }
    }
  }

  &__content {
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1.5em;

    @media (max-width: 1072px) {
      flex-direction: column;
      align-items: center;
      font-size: .8em;
    }

    & img {
      object-fit: cover;
      max-width: 21em;
      width: 100%;
      border-radius: 20px;

    }

    &-text {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 2em;



      & div:first-child {
        background-color: var(--accent-color);
        color: #fafafa;
        padding: 1.5em;
        border-radius: 20px;
      }

      & div:nth-child(2) {
        text-align: left;
      }
    }
  }


  &__work {
    display: flex;
    flex-direction: column;
    align-items: center;



    &-how {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: .5em 1em;
      margin-top: 1em;
      border-radius: 15px;
      width: 100%;
      background: #fafafa;
      color: #222222;
      overflow: hidden;
      min-height: 7em;

      &--span {

        color: #7e683a;
        //padding: .25em;
        border-radius: 10px;
        font-size: 10em;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-52%);
        opacity: .2;
        //z-index: -1;
      }
      @media (max-width: 768px) {
        font-size: .8em;
      }
    }
  }


}