.main__description {
  background: url("/texture_sand_desc.webp") center/cover no-repeat;
  width: 100%;
  margin-top: 2em;
  padding: 1.5em;
}

.description {
  &__wrapper {
    h1 {
      color: #333;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 3.2em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 1072px) {
        font-size: 2em;
      }

      @media (max-width: 578px) {
        font-size: 1.5em;
      }
    }

    .description__subtitle {
      margin-top: 0.5em;

      @media (max-width: 768px) {
        font-size: 3em;
      }
    }
  }

  &__content {
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1.5em;

    @media (max-width: 1072px) {
      flex-direction: column;
      align-items: center;
      font-size: 0.8em;
    }

    img {
      object-fit: cover;
      max-width: 21em;
      width: 100%;
      border-radius: 1em;
    }

    &-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 2em;

      p:first-child {
        background-color: var(--accent-color);
        color: #fafafa;
        padding: 1.5em;
        border-radius: 20px;
        text-align: left;
      }

      p:nth-child(2) {
        text-align: left;
      }
    }
  }

  &__work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    &-how {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 1.5em;
      margin-top: 1em;
      border-radius: 15px;
      width: 100%;
      background: #fafafa;
      color: #222222;
      overflow: hidden;
      min-height: 7em;
      line-height: 1.5;

      & button {
        margin-top: 0 !important;
      }

      strong {
        font-weight: 700;
      }

      //& span {
      //  color: #7e683a;
      //  font-size: 5em;
      //  position: absolute;
      //  top: 50%;
      //  left: 5%;
      //  transform: translateY(-52%);
      //  opacity: 0.2;
      //  z-index: 0;
      //  pointer-events: none;
      //}

      @media (max-width: 768px) {
        font-size: 0.8em;
        padding: 1em;
      }
    }
  }
}