// VideoEvents.scss
.video-events {
  padding: 1rem 0;
  text-align: center;

  &__title {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5em;


    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
    padding: 0 0.5em;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
      margin: 0 1rem;

    }
  }

  &__poster {
    width: 100%;
    padding-top: 56.25%; // 16:9
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
  }

  &__video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
  }
}
