.main__services {
  h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: var(--font-heading), serif;
    color: var(--accent-color);
    font-size: 4rem;
  }
}

.services {

  &__wrapper {


  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1142px) {
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }
  }

  &__item {
    width: 19em;
    height: 23.75em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0 1em 0;
    transition: .3s all ease;

    &:hover {
      transform: scale(1.025);
      box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.5);
    }

    &-title {
      font-family: 'Dune Rise', serif;
      text-align: center;
      font-size: 2em;
      color: #ffffff;
    }

    &.bg_0 {
      background: url("/services_bg_0.webp") center/cover no-repeat
    }

    &.bg_1 {
      background: url("/services_bg_1.webp") center/cover no-repeat
    }

    &.bg_2 {
      background: url("/services_bg_2.webp") center/cover no-repeat
    }
  }

  &-modal {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__alert{
      font-size: .5em;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__title {
      font-family: var(--font-heading), serif;
      font-size: 5rem;
      color: #fafafa;
      margin-bottom: 1.5rem;
      text-align: center;
      background-color: var(--accent-color);
      border-radius: 20px;
      padding: .25em 2em;
    }

    &__content {
      p {
        margin-bottom: 1rem;
        line-height: 1.6;
        font-size: 1.1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__price-container {
      position: relative;
      width: 100%;
      margin-top: 1em;
      height: 60px; // Фиксированная высота для избежания скачков

      .price-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .full-price, .sale-price {
        position: absolute;
        left: 0;
        width: 100%;
        font-size: 1.5em;
        color: var(--accent-color);
        border: 2px solid var(--accent-color);
        padding: .5em;
        border-radius: 1em;
        font-family: 'Montserrat Bold', sans-serif;
        text-align: center;
        transition: all 0.5s ease;

        @media (max-width: 768px) {
          font-size: 1em;
        }
      }

      .full-price {
        opacity: 1;
        transform: translateY(0);
      }

      .sale-price {
        opacity: 0;
        transform: translateY(20px);
      }

      &.sale-active {
        .full-price {
          opacity: 0;
          transform: translateY(0px);
          text-decoration: line-through;
        }

        .sale-price {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &__button {
      margin-top: 2rem;
      width: 100%;
      max-width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }


  @media (max-width: 768px) {
    .services-modal {
      padding: 1.5rem;

      &__title {
        font-size: 1.5rem;
      }

      &__content p {
        font-size: 1rem;
      }
    }
  }

  

}




